MyBot
Makefile
*.hlt
*.log
*~
*.pyc
*.pyo
__pycache__/
*.class
*.ipr
*.iws
*.npy
Testing.txt
run_game.bat
run_game.sh
hlt/__init__.py
hlt/commands.py
hlt/common.py
hlt/constants.py
hlt/entity.py
hlt/game_map.py
hlt/networking.py
hlt/player.py
hlt/positionals.py
halite.exe
replays/README.md
HAL_III-2.py
play_games.py
logs
run_game - Copy.bat
hlt_client